{% extends "base.html" %}

{% block content %}
    <div class = "jumbotron">

          <div><strong>Title:</strong> {{title}}</div>
        <div>Author: {{author}}</div>
          <div>Genre: {{genre}}</div>
          <div>Year: {{year}}</div>
          <div>Press: {{press}}</div>
          <div>Edition: {{edition}}</div>
          <div>Page Range: {{page_range}}</div>
    </div>

    {# get reviews #}
    <div class = "jumbotron">
    {% if reviews|length > 0 %}

    <div>
    <strong>Reviews</strong>

    {% for r in reviews %}
        <br>
        <div>
            <p>{{ r[0] }} | rating: {{ r[1] }}</p>
            <p>{{ r[2] }}</p>
        </div>
    {% endfor %}

    </div>
    {% endif %}

    <div>
    <strong>Add Review</strong>
        <form action="/add_review_book/{{ title }}" method="POST">
            <input type="hidden" name="book-id" value="{{ book_id }}">
            <input type="hidden" name="book_name" value="{{ title }}">

            <label for="user-id">User ID:</label>
            <input type="text" name="user-id">

            <label for="rating">Rating:</label>
            <input type="number" name="rating" min="1" max="5">

            <br>

            <label for="review">Review:</label>
            <textarea name="review" rows="5" cols="50"></textarea><br>
            <input type="submit" value="Add Review">
        </form>
    </div>
    </div>

    <br>
    {# get movies adapated #}
    {% if movies|length > 0 %}
        <div class = "jumbotron">
        <strong>Related Movies</strong>
        {% for m in movies %}
            <br>
            <div>
            <a href = "/movie/{{ m }}">{{ m }}</a>
            </div>
        {% endfor %}
        </div>

    {% endif %}


{% endblock %}