{% extends "base.html" %}

{% block content %}

    {# get basic info #}
    <div class = "jumbotron">
        <div><strong>Movie Name: {{ movie_name }}</strong></div>
        <div>Director: {{ director }}</div>
        <div>Actors: {{ actor }}</div>
        <div>Genre: {{ genre }}</div>
        <div>Released Year: {{ released_year }}</div>
    </div>

    <br>

    {# get reviews #}

    {% if reviews|length > 0 %}

    <div class = "jumbotron">
    <strong>Reviews</strong>

    {% for r in reviews %}
        {% if r[0] is not none%}
            <br>
            <div>
                <p>{{ r[0] }} | rating: {{ r[1] }}</p>
                <p>{{ r[2] }}</p>
            </div>
        {% endif %}
    {% endfor %}
    <form action = "/add_review_movie/{{ movie_name }}" method = "POST">
            <h4>Add a review:</h4>
            <label for = "user_id">User ID:</label>
            <input type = "text" name = "user_id">

            <label for = "rating">Rating:</label>
            <input type = "number" name = "rating" min = "1" max = "10">

            <label for = "review">Review:</label>
            <textarea name="review" rows="5" cols="50"></textarea>

            <input type = "submit" value = "Add Review">
        </form>

    </div>
    {% endif %}

    <br>

    {# get appeared songs #}
    {% if songs|length > 0 %}
        <div class = "jumbotron">
        <strong>Related Songs</strong>
        {% for s in songs %}
            <br>
            <div>
            <a href = "/song/{{ s }}">{{ s }}</a>
            </div>
        {% endfor %}
        </div>

    {% endif %}

    <br>
    {# get book adapated #}
    {% if books|length > 0 %}
        <div class = "jumbotron">
        <strong>Related Book</strong>
        {% for b in books %}
            <br>
            <div>
            <a href = "/book/{{ b }}">{{ b }}</a>
            </div>
        {% endfor %}
        </div>

    {% endif %}



{% endblock %}