{% extends "base.html" %}

{% block content %}

<div class = "jumbotron">

    <h4>Welcome to the sign up page!</h4>
    <br>
    <form action = '/add' method = 'POST'>
        <label for="user-id">User ID:</label>
        <input type = "text" name = "user-id">
        <br>
        <label for = "user-name">Name:</label>
        <input type = "text" name = "user-name">
        <br>
        <label for = "email">Email:</label>
        <input type = "text" name = "email">
        <br>
        <label for = "age">Age:</label>
        <input type = "number" name = "age">
        <br>
        <label for = "sex">Sex:</label>
        <input type = "text" name = "sex">
        <br>
        <label for = "social-identity">Social Identity:</label>
        <input type = "text" name = "social-identity">

        <input type = "submit" value = "Sign Up">
    </form>
</div>
{% endblock %}